In [14]:
import pandas as pd

df = pd.read_csv("data/data_dashboard_final.csv")
print(df.columns[df.columns.duplicated()])

Index([], dtype='object')

In [15]:
df.head()

,SalesKey,DateKey,ChannelKey,StoreKey,ProductKey,PromotionKey,UnitCost,UnitPrice,SalesQuantity,ReturnQuantity,...,ProductName,ProductSubcategoryKey,ProductSubcategoryName,ProductCategoryKey,ProductCategoryName,GeographyKey,StoreType,StoreName,ContinentName,CalendarWeekLabel
0,1,2007-01-02,1,209,956,10,91.05,198.0,8,0,...,A. Datum Point Shoot Digital Camera M500 Black,23.0,Digital Cameras,4.0,Cameras and camcorders,738,Store,Contoso Baildon Store,Europe,Week 1
1,2,2007-02-12,4,308,766,2,10.15,19.9,4,0,...,Contoso Battery charger - bike E200 Black,22.0,Computers Accessories,3.0,Computers,693,Reseller,Contoso North America Reseller,North America,Week 7
2,3,2008-01-24,1,156,1175,11,209.03,410.0,9,0,...,Fabrikam Budget Moviemaker 2/3'' 17mm E100 White,27.0,Camcorders,4.0,Cameras and camcorders,449,Store,Contoso Cambridge Store,Europe,Week 4
3,4,2008-01-13,2,306,1429,10,132.90,289.0,8,0,...,The Phone Company Touch Screen Phones 4-Wire/O...,31.0,Touch Screen Phones,5.0,Cell phones,586,Online,Contoso Europe Online Store,Europe,Week 3
4,5,2008-01-22,2,306,1133,10,144.52,436.2,24,0,...,"Fabrikam SLR Camera 35"" X358 Blue",24.0,Digital SLR Cameras,4.0,Cameras and camcorders,586,Online,Contoso Europe Online Store,Europe,Week 4

In [16]:
print(df.columns[df.columns.duplicated()])

Index([], dtype='object')

In [18]:
df.columns

Index(['SalesKey', 'DateKey', 'ChannelKey', 'StoreKey', 'ProductKey',
       'PromotionKey', 'UnitCost', 'UnitPrice', 'SalesQuantity',
       'ReturnQuantity', 'ReturnAmount', 'DiscountQuantity', 'DiscountAmount',
       'TotalCost', 'SalesAmount', 'ChannelName', 'PromotionName',
       'PromotionType', 'CalendarYear', 'CalendarQuarterLabel',
       'CalendarMonthLabel', 'CalendarDayOfWeekLabel', 'MonthNumber',
       'CalendarDayOfWeekNumber', 'ProductName', 'ProductSubcategoryKey',
       'ProductSubcategoryName', 'ProductCategoryKey', 'ProductCategoryName',
       'GeographyKey', 'StoreType', 'StoreName', 'ContinentName',
       'CalendarWeekLabel'],
      dtype='object')

In [19]:
#df_date = pd.read_csv("data/DimDate.csv") 
df_geo =  pd.read_csv("data/DimGeography.csv")

In [20]:
#df_date.columns
df_geo.columns

Index(['GeographyKey', 'GeographyType', 'ContinentName', 'CityName',
       'StateProvinceName', 'RegionCountryName'],
      dtype='object')

In [21]:
df_merged = df.merge(
    df_geo[['GeographyKey', 'RegionCountryName']],
    on='GeographyKey',
    how='left'
)

In [23]:
df_merged.columns

Index(['SalesKey', 'DateKey', 'ChannelKey', 'StoreKey', 'ProductKey',
       'PromotionKey', 'UnitCost', 'UnitPrice', 'SalesQuantity',
       'ReturnQuantity', 'ReturnAmount', 'DiscountQuantity', 'DiscountAmount',
       'TotalCost', 'SalesAmount', 'ChannelName', 'PromotionName',
       'PromotionType', 'CalendarYear', 'CalendarQuarterLabel',
       'CalendarMonthLabel', 'CalendarDayOfWeekLabel', 'MonthNumber',
       'CalendarDayOfWeekNumber', 'ProductName', 'ProductSubcategoryKey',
       'ProductSubcategoryName', 'ProductCategoryKey', 'ProductCategoryName',
       'GeographyKey', 'StoreType', 'StoreName', 'ContinentName',
       'CalendarWeekLabel', 'RegionCountryName'],
      dtype='object')

In [24]:
df_merged.head()

,SalesKey,DateKey,ChannelKey,StoreKey,ProductKey,PromotionKey,UnitCost,UnitPrice,SalesQuantity,ReturnQuantity,...,ProductSubcategoryKey,ProductSubcategoryName,ProductCategoryKey,ProductCategoryName,GeographyKey,StoreType,StoreName,ContinentName,CalendarWeekLabel,RegionCountryName
0,1,2007-01-02,1,209,956,10,91.05,198.0,8,0,...,23.0,Digital Cameras,4.0,Cameras and camcorders,738,Store,Contoso Baildon Store,Europe,Week 1,United Kingdom
1,2,2007-02-12,4,308,766,2,10.15,19.9,4,0,...,22.0,Computers Accessories,3.0,Computers,693,Reseller,Contoso North America Reseller,North America,Week 7,United States
2,3,2008-01-24,1,156,1175,11,209.03,410.0,9,0,...,27.0,Camcorders,4.0,Cameras and camcorders,449,Store,Contoso Cambridge Store,Europe,Week 4,United Kingdom
3,4,2008-01-13,2,306,1429,10,132.90,289.0,8,0,...,31.0,Touch Screen Phones,5.0,Cell phones,586,Online,Contoso Europe Online Store,Europe,Week 3,Germany
4,5,2008-01-22,2,306,1133,10,144.52,436.2,24,0,...,24.0,Digital SLR Cameras,4.0,Cameras and camcorders,586,Online,Contoso Europe Online Store,Europe,Week 4,Germany

In [25]:
df_merged.to_csv("data/data_dashboard_final.csv", index=False)